certifi==2023.11.17
charset-normalizer==3.3.2
cx-Freeze==6.15.11
cx-Logging==3.1.0
elastic-transport==8.10.0
elasticsearch==8.11.1
geographiclib==2.0
geopy==2.4.1
idna==3.6
lief==0.13.2
Markdown==3.5.1
numpy==1.26.2
pandas==2.1.4
Pillow==9.5.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
tkhtmlview==0.2.0
tzdata==2023.3
urllib3==2.1.0
